# Python artifacts
__pycache__/
*.pyc   
*.pyo
*.so

# Poetry environements
.env
.venv

# Swap files
*.swp
*.swo

# Logs
*.log

# Data
data/
outputs/

# Editor 
.DS_store
.vscode/
.idea/

#Jupyter
.ipynb_checkpoints/

